/* Some variables */
:root {
    --main-color:
    --hover-color:
    --body-color: #DBD2CA;
    --container-color:
    --headertext-color:#7E7B7A
    --text-color:#000000;
}



a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
body {
    background: #DBD2CA;
    margin: 0;
    padding: 0;
    
}

/* Logo */
.logo {
    font-size: 1rem;
    color:black;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

/* Nav */

.nav-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    background: #ECE5E1;
    width: 200px;
    height: 2000px;
    position: fixed;
    opacity: 50%;
    top: 0;

}

.nav {
    position: fixed;
    top: 50%;
    left: 18px;
}

ul {
    display: flex;
    row-gap: 2.1rem;
    flex-direction: column;
    transform: translateY(-50%);
}

li a:hover{
    color: #7E7B7A;
    transition: 0.3s all linear;
    transform: scale(1.1);

}

/* Hamburger menu */

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    left: 0px;

    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(130, 130, 130, 0.831);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 80%;
    min-height: 100vh;
    display: block;
    z-index: 90;
    background-color: #DBD2CA;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    right: 0;
}

.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    text-align:center;
    padding: 12px 16px;
    background-color: #ECE5E1;
    margin: 0 auto 16px;
    text-decoration: none;
    }

.mobile-nav a:hover{
    background-color: rgb(74, 74, 74);
}


.header-box {
    background-image: url("../images/about-3.jpg");
    background-size: cover;
    min-height: 80vh;
    position:inherit;
    background-position:center 50%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 10px 0 0 0;
}

.header-text {
    position: relative;
    top: 220px;
    text-align: center;
    background:rgba(130, 130, 130, 0.459);
    justify-content: center;
    width: 800px;
    left: 25%;;
    height: 220px;
}

h1 {
   color: #ECE5E1;
   text-transform: uppercase;
   font-size: 3em;
   padding-top: 60px;
}

h2 {
    color:#ECE5E1 ;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 10px;
}


/* container */

.text-container {
    position: relative;
    top: 120px;
    text-align: left;
    justify-content: center;
    width: 800px;
    left: 25%;;
    height: 220px;

}

.text-container-2 {
    background:rgba(255, 255, 255, 0.459);
    position: relative;
    top: 120px;
    text-align: left;
    justify-content: center;
    width: 940px;
    left: 25%;;
    height: 100px;
    padding: 30px 0 0 10px;
    margin-top: 90px;
}




@media (max-width: 915px) {
    .nav {
        top: 30%;
    }

    .nav-box {
        width: 150px;
    }

    .header-box {
        min-height: 60vh;
    }

    .header-text {
        width: 500px;
    }

    .post-container-1{
        min-height: 60vh;
    }

    .container-card {
        width: 500px;
        height: 200px;
    }

    .post-container-1 h3 {
        font-size: 3em;
        padding-top: 30px;
    }

    .text-container {
        top: 110px;
        width: 500px;
        left: 30%;
    }

    .text-container-2 {
        top: 190px;
        width: 600px;

    }
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .nav-box {
        background: none;
    }
}
