


/* Some variables */
:root {
    --main-color:
    --hover-color:
    --body-color: #DBD2CA;
    --container-color:
    --headertext-color:#7E7B7A
    --text-color:#000000;
}



a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
body {
    background: #DBD2CA;
}
