@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap'); 


/* Some variables */
:root {
    --main-color:
    --hover-color:
    --body-color: #DBD2CA;
    --container-color:
    --headertext-color:#7E7B7A
    --text-color:#000000;
}



a {
    text-decoration: none;
    color: black;
}
li {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    list-style: none;
    font-size: 1.1em;
}
img {
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #DBD2CA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Logo */
.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 1rem;
    color:black;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

/* Nav */

.nav-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    background: #ECE5E1;
    width: 200px;
    min-height: 2000px;
    position: fixed;
    top: 0;
    opacity: 60%;

}

.nav {
    position: fixed;
    top: 40%;
    left: 18px;
}

ul {
    display: flex;
    row-gap: 2.1rem;
    flex-direction: column;
    transform: translateY(-50%);
}

li a:hover{
    color: #7E7B7A;
    transition: 0.3s all linear;
    transform: scale(1.1);

}

li a.current{
    color: #000000;
    text-decoration: underline;
 }

/*  Hamburger menu */

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    

    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content:'';
    display: block;
    width: 100%;
    width: 30px;
    height: 5px;
    background-color: rgba(130, 130, 130, 0.831);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 80%;
    min-height: 100vh;
    display: block;
    z-index: 90;
    background-color: #DBD2CA;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    right: 0;
}

.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    text-align:center;
    padding: 12px 16px;
    background-color: #ECE5E1;
    margin: 0 auto 16px;
    text-decoration: none;
    }

.mobile-nav a:hover{
    background-color: rgb(74, 74, 74);
}


.header-box {
    background-image: url("../images/about_header.jpg");
    background-size: cover;
    min-height: 100vh;
    position:inherit;
    background-position:center 50%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 10px 0 0 0;
}

.header-text {
    position: relative;
    top: 180px;
    text-align: center;
    background:rgba(130, 130, 130, 0.664);
    justify-content: center;
    width: 800px;
    left: 25%;;
    height: 260px;
}

h1 {
   font-family: 'Playfair Display', serif;
   color: #ECE5E1;
   text-transform: uppercase;
   font-size: 3em;
   padding-top: 40px;
   font-weight: 100;
}

h2 {
    font-family: 'Playfair Display', serif;
    color:#ECE5E1 ;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 10px;
    font-weight: 100;
}

.btn-container {
    background-color: #ECE5E1;
    border: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding: 20px 60px;
    font-size: 0.8em;
}


/* Latest section - Slider*/

.slidertext {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin: 100px 0 20px 130px;
    color: #242424;
}

.latest-container {
    width: 80%;
    max-width: 900px;
    left: 60px;
}

.card-image {
    position: relative;
    height: 150px;
    width: 100px;
}


.slide-latest {
    margin: 0 10px;
    padding: 10px 0px;
}

.card {
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
}

.post-img {
    width: 300px;
    height: 250px;
}

.swiper-slide {
    padding: 0px;
    margin: 0px;
    
}

.card-text {
    font-size: 2.5vh;
    padding: 0;
    margin: 10px;
    font-weight:400;

}



 

/* Post Container */

.post-container-1 {
    background-image: url("../images/postheader.jpg");
    background-size: cover;
    min-height: 100vh;
    position:inherit;
    background-position:center 50%;
    width: 100%;
    top: 0;
    margin: 30px 0 0px;
}



.post-container-1 h3{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color: #ffff;
    font-size: 3em;
    justify-content: center;
    text-transform: uppercase;
    justify-items: center;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.post-container-1 h4 {
    color: #ffff;
    font-size: 1em;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    word-spacing:3px;

}

.btn-container-1 {
    background-color: #ECE5E1;
    border: 0;
    height: 300px;
    width: 200px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding: 20px 60px;

}

.container-img{
    min-height: 50vh;
    position:inherit;
    background-position:center 50%;
    width: 1500px;
    height: 800px;
    top: 0;
    margin: 70px 0 0px;
}

.container-card {
    position: relative;
    top: 220px;
    text-align: center;
    background:rgba(130, 130, 130, 0.664);
    justify-content: center;
    width: 600px;
    left: 30%;;
    height: 200px;
}


/* Post Boxes */


.box-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
    color: #242424;
    font-size: 1.5em;
}

.box-subheading {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    color: #242424;
    font-size: 0.9em;
    font-weight: lighter;
}

.box-card {
    padding: 10px 5px;
}

.post-boxes {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    padding: 10px 10px;
    justify-content: center;
    background:rgba(231, 227, 221, 0.664);
    margin: 20px 260px;
    justify-content: center;
    
}

.box-post {
    margin: 10px;
    display: grid;
    position: relative;
    justify-content: center;
    
}

.post-img {
    position: relative;
    height: 150px;
    width: 200px;
}

.box-text {
    font-size: 1em;
    padding: 0;
    margin: 10px 0 0 0;
    justify-content: center;
    font-weight: 400;
}

.btn-boxes {
    background-color: #ECE5E1;
    display: flex;
    border: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 20px 60px;
    font-size: 0.8em;
    justify-content: center;
    width: 150px;
    margin-left: 42%;
}


/*  Footer */
footer {
    display: flex;
    margin:150px 0px 20px 0px;
    justify-content: center;
    color: #585858;
    font-size: 0.8em;
}



/*  RESPONSIVE */

@media (max-width: 1090px) {
    .nav {
        top: 30%;
    }

    .header-box {
        min-height: 70vh;
    }
    .header-text{
        width: 630px;
        top: 50px;
    }

    .post-img {
        width: 120px;
        height: 100px;
    }

    .card-text {
        font-size: 1em;
    }

    .boxcard img {
        width: 100%;
    }

    .post-container-1{
        min-height: 60vh;
    }

    .post-boxes {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 250px;
    }

    .box-text {
        font-size: 1.2em;
    }

    .btn-boxes {
        margin-left: 38%;
        width: 120px;
    }

    .latest-container {
        width: 70%;
        max-width: 100%;
        left: 50px;
    }

    
    .post-img {
        width: 300px;
        height: 200px;
    }
}


@media (max-width: 915px) {
    .nav {
        top: 30%;
    }

    .header-box {
        min-height: 60vh;
    }

    .header-text {
        width: 500px;
        top: 80px;
    }

    .post-container-1{
        min-height: 60vh;
    }

    .container-card {
        width: 500px;
        height: 200px;
    }

    .post-container-1 h3 {
        font-size: 3em;
        padding-top: 30px;
    }

    .post-boxes {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 210px;
    }

    .box-text {
        font-size: 1.2em;
    }

    .btn-boxes {
        margin-left: 38%;
        width: 120px;
    }
    .boxcard img {
        width: 100%;
    }
    
}

/*  820px  */ 
@media (max-width: 820px) {
    .nav {
        top: 30%;
    }

    .nav-box {
        width: 150px;
    }

    .header-box {
        min-height: 80vh;
    }

    .header-text {
        width: 500px;
    }

    .post-img {
        width: 100px;
        height: 100px;
    }

    .card-text {
        font-size: 1em;
    }

    .post-container-1{
        min-height: 80vh;
    }

    .container-card {
        width: 450px;
    }

    .post-boxes {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 120px;
    
        }

    .boxcard img {
        width: 100%;
    }

    .box-text {
        font-size: 1em;
    }

    .btn-boxes {
        margin-left: 33%;
        width: 120px;
    }

}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .nav-box {
        background: none;
    }

    .header-text {
        width: 400px;
        height: 250px;
        top: 90px;
    }

    .container-card {
        width: 400px;
        height: 200px;
        top: 100px;
    }

    h1 {
        font-size: 2.5em;
    }
 /* slider*/
    .latest-container {
        width: 80%;
        left: 20px;
    }

    
    .post-img {
        width: 300px;
        height: 200px;
    }

    
}

@media (max-width: 684px) {
    .nav{
        left: 0;
    }

    .nav-box {
        width: 120px;
    }

    .header-box {
        min-height: 70vh;
    }

    .header-text {
        width: 340px;
        height: 220px;
        top: 100px;
        left: 20%;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 0.7em;
    }

    .post-container-1{
        min-height: 60vh;
    }

    .container-card {
        width: 320px;
        height: 150px;
        top: 100px;
        left: 20%;
    }

    .post-container-1 h3 {
        font-size: 1.5em;
        padding-top: 30px;
    }

    .btn-container-1,
    .btn-container {
        padding: 15px 40px;
        font-size: small;
    }

    .btn-boxes {
        margin-left: 33%;
        width: 70px;
    }

    .post-boxes {
        margin: 20px 70px;
    
        }

        


}

@media (max-width: 421px) {
    .header-box {
        min-height: 55vh;
    }


    .header-text {
        width: 250px;
        height: 130px;
        top: 60px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 0.7em;
    }

    .post-container-1 {
        min-height: 50vh;
    }

    .container-card {
        width: 240px;
        height: 100px;
    }

    .post-container-1 h3 {
        font-size: 1em;
        padding-top: 30px;
        margin-bottom: 10px;
        color:#ffff;
    }

    .btn-container-1 {
        padding: 5px 60px;
        font-size: small;
    }

    .post-boxes {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 30px;
    
        }

    .box-text {
        font-size: 0.7em;
    }

    .btn-boxes {
        margin-left: 25%;
        width: 60px;
        font-size: 0.7em;
    }

    .nav-box {
        width: 90px;
        min-height: 15px;
        height: 15px;
    }

    .logo {
        font-size: 0.7em;
    }
}
